header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ccc;
  z-index: 1;
}

#content {
  position: relative;
  top: 100px;
}

#test {
  height: 300px;
  overflow: scroll;
  border: black solid 1px;
  position: relative;
  top: 10px;
  width: 300px;
}
